.bcc-call-to-action {


      h3 {
        color: $white;
        text-transform: capitalize;
      }

      img {
        
        width: 25%;

        @include media-breakpoint-up(md) {
          width: 50%;
          @include center-object;
        }

    


      }


        
}

