.offcanvas-collapse {
    @include media-breakpoint-down(lg) {
      position: fixed;
      top: 0; /* Height of navbar */
      bottom: 0;
      left: 0;
      width: 100%;
      padding-top: 4rem;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      opacity: 0;
      background-color: rgba($primary,.9);
      transition: visibility 0s 0.9s, opacity 0.9s linear;

      &.open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.9s linear;
      }

      .nav-link {
          color: $white;
      }

    }

  }

  //Offcanvas activate

  .offcanvas-active {
    background-color: rgba($black,.9);
  }






 