
@include raleway();
@include ralewayitalic();
@include ralewaybold();
@include ralewaylight();
@include ralewayextralight();

@include merriweather();

@include bree();


h1,h2,h3 {
    text-transform: uppercase;
}

b,strong {
    font-weight: 700;
    font-family: 'Raleway-Bold', Helvetica, sans-serif;
}



.lead {
    font-weight: 400;
}

a {
    color: $green;
    transition: all ease-in-out .15s;

    &:hover {
        color: $secondary;
        text-decoration: none;
    }
}


.nav-link {
    color: $white;
    padding:0;
}



// Button Style
.btn {
    border-width: 2px;
    font-family: "Bree-Serif", serif;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    transition: ease-in-out .15s;

    &-primary {
        &:hover {
            color: $primary;
            border-color: $secondary;
            background: $secondary;
        }
    }

    &-secondary {
        color: $white;
        &:hover {
            color: $white;
        }
    }


    &-begin {
        color: $white;
        border: transparent;
        background: transparent;

        &:hover {
            color: $begin;
            border: transparent;
            background: transparent;
            opacity: .5;
        }

        small {
            font-family: 'Raleway', Helvetica, sans-serif;
            @include font-size(0.875rem);
            text-transform: none;
        }

        .far {

            font-size: 1.75em;

            @include media-breakpoint-up(md) {

                font-size: 3em;

            }
        }
    }
}




 // Nav navbar-toggler
 
 .navbar-toggler {
     position: relative;
     cursor: pointer;
     padding: 10px 35px 16px 0px;
     z-index: 2;
    
 
        &:focus {
        outline: none;
        }
 
    span {
      display: block;
      position: absolute;
      content: '';
      border-radius: 0;
      height: 2px;
      width: 35px;
      background: $white;
      transition: all 600ms ease-in-out;
      top:50%;
 
      &:before,
      &:after {
        cursor: pointer;
        border-radius: 0;
        height: 2px;
        width: 35px;
        background: $white;
        position: absolute;
        display: block;
        content: '';
         transition: all 600ms ease-in-out;
      }
 
      &:before {
        top: -10px;
      }
 
      &:after {
         bottom: -10px;
      }
 
    }
 
    &.active {
 
      span {
        top: 50%;
        transform: rotate(-45deg);
 
        &:before {
          top: 0;
          transform: rotate(90deg);
        }
        &:after {
          background-color: transparent;
        }
      }
 
    }
 
  }


  .site-footer-1 {


    .navbar-toggler {

        span {
            background: $dark;

            &:before,
            &:after {
                background: $dark;
            }


        }

        &.active {
            span {
                &:after {
                    background-color: transparent;
                  }
            }
        }
    }


  }
 




//Default Section
.section {

  
    padding-top:2.5rem;
    padding-bottom: 3.5rem;

    @include media-breakpoint-up(md) {
    
        padding-top:5rem;
        padding-bottom: 7rem;
    }
    
    
    &-title {
        position: relative;
        color: $primary;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
    
        @include media-breakpoint-up(md) {
    
            margin-bottom: 3rem;
            padding-bottom: 2rem;
    
        }
    
        &:after {
            position: absolute;
            left:50%;
            bottom:0;
            content:'';
            background:$dark-gray;
            width:60px;
            height:1px;
            transform: translateX(-50%);
        }

        &--left {
           
            &:after {
               
                @include media-breakpoint-up(md) {
                    left:0;
                    transform: translateX(0);
    
                }
            }
        }

    }

    &-content-image {
        box-shadow: 2px 2px 12px rgba($black,.4);
    }



}




// Default for Background Colour Sections
.bg-primary,
.bg-secondary {

    h2,h3,h4,h5,p {
        color: $white;
    }

    h2 {
        &:after {
            background: $white;
        }
    }

    img {
        border: solid 1px darken($green,10%);
        box-shadow: 2px 2px 12px rgba($black,.4);
    }
    

}

.bg-secondary {


    a {
        color: $white;
       

        &:hover {
            color: darken($primary, 5%);
        }

        &.btn {
            color: $white;
        }
    }


}


// Default Content on Genric Content Pages
.entry-content {

   
    p {
        width: 95%;
        &.has-medium-font-size {
            font-size: 1.375rem;
        }
    }

    h2,h3,h4 {
        margin-bottom: 1.5rem;
    }

    h2 {
        color: $green;
    }

    h3 {
        color: $dark;
    }

    h4 {
        color: lighten($green, 10%); 
    }

}


// Contact Page Content
.page-template-contact {

    .entry-content {

        p {
            padding-left:15px;
            padding-right: 15px;

            @include media-breakpoint-up(md) {
                margin: 0 auto 2rem auto;
                max-width: 600px;
                line-height: 1.8;
            }
        }

    }
}


// Add to Any
.addtoany_shortcode {
    .a2a_svg {
        position: relative;
        border-radius: 50%!important;

        svg {
            @include center-object;
            width: 75%;
            height: 75%;
        }
    } 
}


.font-weight-bold {
    font-family: 'Raleway-Bold', Helvetica, sans-serif;
    font-weight: 400!important;
}

// Site Container - Modifiers

.site-main--landing {
    padding-bottom: 2rem; 

    @include media-breakpoint-up(lg) {
        padding-bottom: 5rem;
    }
}


.link-box {

    position: relative;
    color: $dark;
    background: $light;
    top:0;
    transition: top ease-in-out .5s;
    box-shadow: 2px 4px 12px rgba($black,.3);
    height: 150px;
    
    @include media-breakpoint-up(lg) {
        height: 200px;
    }

    img {
        width: 50px;

        @include media-breakpoint-up(lg) {
            height: 75px;
        }

    }

    .inner {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;

        @include media-breakpoint-up(lg) {
            width: inherit;
        }
    }

    &:hover {
    
        top: -.5rem;
        box-shadow: 2px 2px 12px rgba($black,.3);
    }

    
}


// Floating Donate Button


.donate-btn {
   
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    @include media-breakpoint-up(md) {
       width:inherit;
        bottom:2rem;
        right:2rem;
        left:inherit;
    }

    a {
        display: block;
        font-size:1.2rem;
       
        font-family: 'Bree-Serif', Georgia, 'Times New Roman', Times, serif;

        @include media-breakpoint-up(md) {
            display: inline-block;
            padding:.75rem 1.2rem;
            border-radius: 25px;
        }
    }

}


  // Modal
  .modal {
      .close {
          font-size: 3rem;
          opacity: 1;
          color: $white;
      }
  }

  .modal-content {

    background: none;
    border:none;

  }

  .modal-backdrop {

    background: $primary;

    &.show {
      opacity: .95;
    }
  }

  .modal-header {

    border: none;
  }

  .modal-dialog {


    @include media-breakpoint-up(lg) {
        max-width: 800px;
    }


  }


  // Contact Block

  .contact-block {
    margin:4rem 0;
    padding:2rem 1rem 2rem 1rem;
    border-left: solid 5px $secondary;
    background: $light;
    font-style: italic;
    font-family: 'Raleway-SemiBoldItalic', Helvetica, sans-serif;
  }

  .section--children {

    a {
        text-decoration: underline;
        font-style: italic;

        &:hover {
            opacity: .7;
        }
    }
  }